
#page
{
	margin-top: -2px;
	margin-bottom: -2px;
	background: white;
	border: 1px solid #C9E0ED;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

#header
{
	background-color: #3498db;	
}

#content
{
    padding: 20px; 
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{
	background-color: #fff;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	/* border-left: 5px solid #6FACCF; */
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
.portlet > .portlet-decoration, th{
	font-size:14px!important;
}
/* Start Portlets*/
.portlet{
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px;
	border: 1px solid #d2d2d2;
	box-shadow: rgba(0,0,0,0.1) 0px 1px 8px; -webkit-box-shadow: rgba(0,0,0,0.1) 0px 1px 8px; -moz-box-shadow: rgba(0,0,0,0.1) 0px 1px 8px; -khtml-box-shadow: rgba(0,0,0,0.05) 0px 1px 8px;
	background: rgb(255, 255, 255);
	margin-bottom:15px;
}

.portlet-decoration{
	border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px; -moz-border-radius: 3px 3px 0px 0px; -khtml-border-radius: 3px 3px 0px 0px;
	font-weight: bold;
	font-size: 14px !important;
	color: #555555;
	background: rgb(237, 237, 237);
	padding: 8px;
	border-bottom: 1px solid rgb(215, 215, 215);
	border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -khtml-border-top-left-radius: 3px;
	border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-right-radius: 3px;
	text-shadow: #fff 0px 1px 0px;
	box-shadow: inset #fff 0px 1px 0px; -webkit-box-shadow: inset #fff 0px 1px 0px; -moz-box-shadow: inset #fff 0px 1px 0px; -khtml-box-shadow: inset #fff 0px 1px 0px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

  margin-right:5px;

}
.portlet-content{
	padding:5px 10px 10px 10px;
}
.portlet-bottom {
	z-index: 9999;
  padding: 8px;
  background-color: #f7f7f9;
  border-top: 1px solid #e1e1e8;
}